.pane {
    -fx-background-color: #8A171A;
}

.label {
    -fx-font-size: 14px;
    -fx-text-fill: #DEDEDE;
}

.button {
    -fx-background-color: #DEDEDE;
    -fx-text-fill: #8A171A;
    -fx-pref-width: 150px;
    -fx-pref-height: 40px;
    -fx-font-size: 20px;
    -fx-background-radius: 10px;
}

.centered {
    text-align: centered
}

.horizontal-separator {
    -fx-pref-width: 50px;
}
